<%= form_for @review do |f| %>
  <div class='input-wrapper'>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class='input-wrapper'>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <div class='input-wrapper'>
    <%= f.label :score %>
    <%= f.number_field :score %>
  </div>
  <%= f.submit "Save review", class: 'btn-primary' %>
<% end %>
