<%= simple_form_for @review do |f| %>
  <% if @review.errors.any? %>
    <div class="errors">
      <% @review.errors.full_messages.each do |message| %>
        <p>
          <%= message %>
        </p>
      <% end %>
    </div>
  <% end %>
  <%= f.input :title %>
  <%= f.input :restaurant %>
  <%= f.input :address %>
  <%= f.input :cuisine %>
  <%= f.input :body %>
  <%= f.input :score %>
  <%= f.input :price %>
  <%= f.input :ambiance %>
  <%= f.submit "Save review", class: 'btn-primary' %>
<% end %>
