<% content_for :page_title, "Home" %>
<nav class="filters">
  <div>
    <%= link_to "All Restaurants", root_path %>
  </div>
  <div>
    <%= link_to "$", root_path(price: 1, cuisine: @cuisine, location: @location) %>
    <%= link_to "$$", root_path(price: 2, cuisine: @cuisine, location: @location) %>
    <%= link_to "$$$", root_path(price: 3, cuisine: @cuisine, location: @location) %>
    <%= link_to "$$$$", root_path(price: 4, cuisine: @cuisine, location: @location) %>
  </div>
  <div>
    <%= link_to "Italian", root_path(cuisine: "Italian", price: @price, location: @location) %>
    <%= link_to "American", root_path(cuisine: "American", price: @price, location: @location) %>
    <%= link_to "Puertorrican", root_path(cuisine: "Puertorrican", price: @price, location: @location) %>
    <%= link_to "Spanish", root_path(cuisine: "Spanish", price: @price, location: @location) %>
  </div>
  <form action="/" class="search">
    <input type="text" name="location" placeholder="Search location" value="<%= @location %>">
    <input type="hidden" name="price" value="<%= @price %>">
    <input type="hidden" name="cuisine" value="<%= @cuisine %>">
  </form>
</nav>
<ul>
  <% @reviews.each do |review| %>
    <li class="review">
      <%= link_to review.title, review_path(review) %>
    </li>
  <%end%>
</ul>
