<% content_for :page_title, @review.title%>
<h1 class="page-title">
  <%= @review.title %>
</h1>
<h2>
  <%= @review.restaurant %>
</h2>
<p class="score">
  <%= @review.score %> / 10
</p>
<% if @review.cuisine.present? %>
  <p class="cuisine">
    Cuisine:  <%= @review.cuisine %>
  </p>
<% end %>
<% if @review.price.present? %>
  <p class="price">
    Price:  <%= @review.price %>
  </p>
<% end %>
<% if @review.ambiance.present? %>
  <p class="ambiance">
    Ambiance:  <%= @review.ambiance %>
  </p>
<% end %>
<div class="body">
  <%= simple_format @review.body %>
</div>
<section class="actions">
  <%= link_to "Edit review", edit_review_path(@review) %>
  <%= link_to "Delete review", review_path(@review), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}  %>
</section>
<section class="comments-wrapper">
  <h2 class="subheading">Comments (<%= @review.comments.count %>) </h2>
  <div class="comments">
    <% @review.comments.order("created_at desc").each do |comment| %>
      <div class="comment">
        <p>
          <%= simple_format comment.body%>
        </p>
        <p class="posted">Posted <%= time_ago_in_words comment.created_at %> ago</p>
      </div>
    <% end %>
  </div>
</section>
<h1>Add a comment</h1>
<%= simple_form_for [@review, Comment.new] do |f| %>
  <%= f.input :body %>
  <%= f.button :submit, "Add comment" %>
<% end %>
